.Header_section{
    margin: 0 !important;
    display: flex;
    align-items: center;
    padding: 0px 25px;
    height: 50px;
    border-bottom: 1px solid  rgb(188, 188, 212,0.25);
    box-shadow: 0px 4px 5px 0 rgba(0,0,0,0.15); 
    margin-bottom: 20px;
    position: fixed;
    left: 0;
    right: 0;
    background-color: white;
    z-index: 1;
}
h3{
    margin: 0px !important;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
}