.navbar-container{
    width: 280px;
    padding-top: 50px;
    float: left;
    position: fixed;
    

}
.nav-link{
    text-decoration: none;
    color: black;
    font-size: 14px;
    display: flex;
    height: 40px;
    padding: 0px 20px;
    align-items: center;
}
.nav-link:hover{
    background-color: rgba(62 ,179, 235,0.25);
    border-radius: 10px;
    transform:translateX(5px)
}
.nav-link.active{
    background-color: rgba(62 ,179, 235,0.25);
    border-radius: 10px;
    transform:translateX(5px)

}
i{
    margin: 0px 5px;
}
